body {
  margin: 60px auto;
  background-color: #424242;
}
nav ul,
footer ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
h1 {
  font-size: 3em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.stake-division {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

body {
  margin: 0;
}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 8%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  font-size: 23px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4caf50;
}

.default-color {
  color: white;
}

.flex {
  display: flex;
}

.stake-header {
  padding: 15px 0 0 20px;
  font-size: 28px;
  font-weight: 600;
}

.weight-600 {
  font-weight: 600;
}
.col-1 {
  padding: 20px;
}

.col-2 {
  padding: 20px;
  width: 400px;
  font-weight: 600;
}

.input-styling {
  background: #555;
  padding: 10px 0 0 10px;
  margin-bottom: 10px;
  width: 420px;
  color: dodgerblue;
  border-bottom: 2px solid dodgerblue;
  display: flex;
  justify-content: space-between;
}

.stake {
  background-color: black;
  padding: 10px 18px 5px 10px;
  background-color: black;
  margin-top: 10px;
  height: 25px;
}

.stake-span {
  float: right;
}

.start-day-width {
  width: 35%;
}

.longer-bigger-div {
  margin-left: 20px;
}

.share-division {
  padding: 20px 0;
}
th {
  text-align: left;
  border: 1px solid beige;
}

.padding-left {
  padding-left: 20px;
}
.font-24 {
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0 0 20px;
}
.background-black {
  color: dodgerblue;
  border-bottom: 2px solid dodgerblue;
}

.logo {
  height: 23px;
}
.dark-grey {
  color: darkgray;
}

.grey-border {
  border-bottom: 2px solid darkgray;
}

.add-metamask {
  background-color: darkorange;
  color: white;
  float: right;
  width: 8% !important;
  margin-left: 22% !important;
  text-align: center;
  font-size: 12px !important;
  padding: 5px 0 !important;
  margin-top: 15px;
  font-weight: 600 !important;
}

.english-text {
  color: white;
  text-align: center;
  font-size: 12px !important;
  padding: 5px 0 !important;
  margin-top: 12px;
  font-weight: 600 !important;
  font-size: 16px !important;
  margin-left: 30px;
  width: 0% !important;
}

.down-icon {
  width: 0% !important;
  color: white;
  font-size: 20px !important;
  width: 2% !important;
  margin-left: 60px;
  padding: 8px 0 !important;
}
.padding-25 {
  padding-right: 25px;
  text-align: center;
}


.color-black{
    background-color: black;
    font-size: 10px;
    font-weight: 600;
    padding: 2px 10px;
    margin-bottom: 10px;
}

.calender{
    font-size: 14px !important;
    padding: 4px !important;
}
